apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-backend
spec:
  type: {{ .Values.backend.service.type }}
  ports:
    - port: {{ .Values.backend.service.port }}
      targetPort: 7079
  selector:
    app: {{ .Release.Name }}-backend

---

apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-database
spec:
  ports:
    - port: 3306
      targetPort: 3306
  selector:
    app: {{ .Release.Name }}-database

---

apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-frontend
spec:
  type: {{ .Values.frontend.service.type }}
  ports:
    - port: {{ .Values.frontend.service.port }}
      targetPort: 80
      nodePort: 31012
  selector:
    app: {{ .Release.Name }}-frontend

---

apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-chat-service
spec:
  type: NodePort
  selector:
    app: {{ .Release.Name }}-chatservice
  ports:
    - port: 8082
      targetPort: 8082
      nodePort: 30042
