frontend:
  image:
    repository: tigerwk/sh-vue
    tag: latest
  service:
    type: NodePort
    port: 80

backend:
  image:
    repository: tigerwk/sh-spring
    tag: latest
  service:
    type: ClusterIP
    port: 8080

database:
  persistence:
    size: 1Gi
  image:
    repository: mysql
    tag: 5.7
  mysqlRootPassword: root_password
  mysqlUser: user
  mysqlPassword: user_password
  mysqlDatabase: ad
